{% extends 'base.html' %} {% block content %}
<head>
    <link rel="stylesheet" href="static/css/edit_profile.css">
</head>

{%with error_messages = get_flashed_messages(category_filter=["update_profile"])%}
    {% if error_messages %}
        <div class="alert alert-danger">
            <ul class="ul_list">
                {% for this_error in error_messages %}
                    <li>{{this_error}}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endwith %}
<div class="edit_profile_main_container">
    <div class="register_login_div">
        <div class="div3">
            <div class="row">
                <div class="flex">
                    <div class="form-size-div">
                        <div class="form-content-holder">
                            <div class="changes-div">
                                <h1 class="changes-text">Let's Make Some Changes!</h1>
                            </div>
                        <div class="form-content-main-container">
                        <div class="img-div">
                            <img  class="computer-img" src="static/images/hotel-front-desk.jpeg" alt="manoncomputer">
                        </div>
                        <div class="form-content-container">
                            <form class="update-form" action="/edit" method="post" enctype="multipart/form-data">
                                <div class="form-group">
                                    <label class="all-labels" for="email">Email</label>
                                    <input class="form-control custom-input" type="text" id="email" name="email" >
                                </div>
                                <div class="form-group">
                                    <label class="all-labels" for="current_password">Current Password</label>
                                    <input class="form-control custom-input" type="password" name="current_password" id="current_password">
                                </div>
                                <div class="form-group">
                                    <label class="all-labels" for="new_password">New Password</label>
                                    <input class="form-control custom-input" type="password" name="new_password" id="new_password" >
                                </div>
                                <div class="form-group">
                                    <label class="all-labels" for="confirm_new_password">Confirm New Password</label>
                                    <input class="form-control custom-input" type="password" name="confirm_new_password" id="confirm_new_password" >
                                </div>
                                    <input type="hidden" name="user_id" value="{{user_id}}">
                                <div class="form-group">
                                    <label class="all-labels" for="profile-pic">Upload a Profile pic</label>
                                    <input class="form-control custom-input" type="file" id="profile-pic" name="profile_pic" accept="image/*" >
                                    
                                    <!-- <input class="form-control custom-input" type="submit" value="Upload"> -->
                                </div>
                                <div>
                                    <button class="btn btn-danger" type="submit">Update Profile</button>
                                </div>
                            </form>
                        </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






{% endblock %}
edit_profile.html
4 KB