{% extends 'base.html' %} {% block content %}
{%with error_messages = get_flashed_messages(category_filter=["room"])%}
   {% if error_messages %}
      <div class="alert alert-danger">
         <ul class="ul_list">
               {% for this_error in error_messages %}
                  <li>{{this_error}}</li>
               {% endfor %}
         </ul>
      </div>
   {% endif %}
{% endwith %}
<head>
   <link rel="stylesheet" type="text/css"  href="{{ url_for ('static', filename='css/individual_rooms.css') }}">
</head>
<div class=>
   <div class="room_container">
      <div class="room_img">
         <figure><img src = "{{ url_for('static', filename='images/double_bed_3.jpeg') }}" alt="#"/></figure>
      </div>
      <div class="div3">
         <div class="row">
            <div class="flex">
               <div class="book_room">
                  <div class="room_description">
                     <h3 class="room_title">The Grand Serenity </h3>
                     <span>Room Description</span>
                     <p class="description_p">Experience unparalleled comfort and serenity in our rooftop hotel's double bed room. This thoughtfully designed space combines contemporary elegance with a cozy atmosphere, offering a tranquil escape from the city below. Adorned with floor-to-ceiling windows, the room provides breathtaking panoramic views, allowing you to relax and enjoy the vibrant energy of the surroundings while enjoying utmost privacy.</p>

                     <p class="description_p"> The highlight of the room is the luxurious double bed, adorned with soft linens and an array of plush pillows for a restful night's sleep. With bedside tables and reading lamps on each side, convenience and relaxation are at your fingertips. The modern design, complemented by tasteful artworks, creates a sophisticated ambiance. The en-suite bathroom is an oasis of relaxation, featuring sleek fixtures, a walk-in rain shower, and a deep soaking tub. Stay connected with high-speed internet and enjoy in-room entertainment on the flat-screen TV. To enhance your stay, a well-stocked mini-bar and a coffee machine are at your disposal. As a guest, you'll have exclusive access to the rooftop lounge and bar, where you can indulge in delicious cuisine and handcrafted cocktails while marveling at the panoramic views. Our double bed room offers an idyllic retreat for those seeking urban luxury and a memorable rooftop experience.  </p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="booking_ocline">
      <div class="container">
         <div class="row">
            <div class="col-md-5">
               <div class="book_room">
                  <h1>Book a Room Now</h1>
                  <form action="/double_room" class="book_now" method="post">
                     <div class="row">
                        <div class="col-md-12">
                           <span>Arrival</span>
                           <img class="date_cua" src="{{ url_for('static', filename='images/date.png') }}">
                           <input class="online_book" placeholder="dd/mm/yyyy" type="date" name="arrival_date" value="{{reservation.arrival_date}}">
                        </div>
                        <div class="col-md-12">
                           <span>Departure</span>
                           <img class="date_cua" src="{{ url_for('static', filename='images/date.png') }}">
                           <input class="online_book" placeholder="dd/mm/yyyy" type="date" name="departure_date" value="{{reservation.departure_date}}">
                        </div>
                        <div class="col-md-12">
                           <span>Number of Guests</span>
                           <img class="date_cua" src="{{ url_for('static', filename='images/date.png') }}">
                           <input class="online_book" placeholder="1 - 4" type="number" max="4" min="0"  name="number_of_people" value="{{reservation.number_of_people}}">
                        </div>
                        <input type="hidden" name="user_id" value="{{user_id}}">
                        <input type="hidden" name="room_name" value="The Grand Serenity">
                        <div class="col-md-12">
                        {%if "user_id" in session %}
                           <button type="submit" class="book_btn">Update Now</button>
                        {%else%}
                           <p class="text-white text"><a href="/login" class=" link-text">Log in</a> to book a room</p>
                        {%endif%}
                        </div>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock %}