{% extends 'base.html' %} {% block content %}
<link rel="stylesheet" href="static/css/style3.css">
<div class="reservation-div">
  <div class="reservation-header-div">
    <h1 class="reservation-header">Here is all of your up coming reservations</h1>
  </div>
  <div class="reservation-table-div">
    <table class="table-container">
      <thead>
        <tr>
          <th><h4>Name</h4></th>
          <th><h4>Arrival Date</h4></th>
          <th><h4>Departure Date</h4></th>
          <th><h4>Room</h4></th>
          <th><h4># of People</h4></th>
          <th><h4>View Room</h4></th>
          <th><h4>Edit Reservation</h4></th>
          <th><h4>Delete Reservation</h4></th>
        </tr>
      </thead>
      <tbody>
        {%for this_user in current_user%}
          <tr>
            <td class="table-data">{{this_user.first_name}} {{this_user.last_name}}</td>
            <td class="table-data">{{this_user.reservation.arrival_date.strftime('%m-%d-%Y')}}</td>
            <td class="table-data">{{this_user.reservation.departure_date.strftime('%m-%d-%Y')}}</td>
            <td class="table-data">{{this_user.reservation.room_name}}</td>
            <td class="table-data">{{this_user.reservation.number_of_people}}</td>
            <td class="table-data"><a class="btn btn-primary" href="/view/{{this_user.reservation.room_name}}">View</a></td>
            <td class="table-data"><a class="btn btn-info" href="/edit/{{this_user.reservation.room_name}}/{{this_user.reservation.id}}">Edit</a></td>
            <td class="table-data"><a class="btn btn-danger" href="/delete_reservation/{{this_user.reservation.id}}">Delete</a></td></td>
          </tr>
          {%endfor%}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}