body {
    background-image: url("../images/lobby.jpg");
    background-size: cover;
    height: 920px;
    }

.edit_profile_main_container{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.changes-text{
    color: aliceblue;
}

.btn-primary{
    margin-top: 10px;
    background-color: #fe0000
}